body {
  background-color: lightgrey;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div{
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.container {
  text-align: center;
  margin: 20px auto;

}

img {
  width: 200px;
  height: 200px;
}

form {
  display: block;
}

input {
  margin-top: 10px;
}

.btn {
  margin: 10px 0;
}

.messagebox {
  text-align: center;
  background-color: #00B7FF;
  border-radius: 5px;
}

.well {
  margin: 0 20px;
}